body {
  background-color: powderblue;
}

h2 {
  color: #3a4f7a;
}

h3 {
  color: #227c70;
}

h4 {
  color: #439a97;
}

h5 {
  color: black;
}

#certification {
  color: #3a4f7a;
  text-shadow: #227c70;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: groove;
  border-width: 3px;
  width: 95%;
}

.profilePicture {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  width: 150px;
  height: 180px;
}

.contactDetails {
  border-collapse: collapse;
}

.pastExperience {
  display: inline;
}

.tooltip {
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  border-radius: 6px;
  background-color: black;
  color: #fff;
  padding: 5px 0;
  visibility: hidden;
  text-align: center;
  width: 120px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}