.profilePicture {
  border-radius: 90%;
  width: 200px;
}

.companyLogo {
  border-radius: 90%;
  width: 100px;
}
.contactDetails {
  border-collapse: collapse;
}
.regionBorder {
  border: 1px solid rgb(128, 128, 128);
  size: 3;
}
.pastExperience {
  display: inline;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
